/*------ stile di base della pagina ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

body {
    max-width: 1440px;
    margin: auto;
    height: 2000px;
}

/*------ logo della pagina e navigazione ------*/
#logo {
    padding-right: 40px;
    height: 100px;
    border-right: 1px solid rgba(229, 229, 229, 0.8) ;
}

nav {
    padding: 50px 0px 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    padding-right: 5px;
}

/*------ stile del banner principale ------*/
.banner ,.layer {
    border-radius: 20px;
    border: 1px transparent;
}

.banner {
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 20px 0px;
    position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------ descrizione del banner principale ------*/
.description {
    position: absolute;
    bottom: 15%;
    left: 4%;
}

#description-title, #description-main{
    color: white;    
}

#description-title {
    font-size: 34px;
}

/*------ inizio dell'articolo ------*/
.top {
    margin: 30px 0px;
}

.top > section {
    color: black;
    font-size: 40px;
    font-weight: 700;
}

/*------ stile delle colonne dell'articolo ------*/
.columns {
    padding: 20px 0px 50px 0px;
}

.columns::after {
    content: "";
    display: table;
    clear: both;
}

.left, .middle, .right {
    float: left;
}

.left, .right {
    width: 20%;
}

.middle {
    width: calc(60% - 60px);
    margin: 0px 30px;
}

/*------ immagini delle colonne dell'articolo ------*/
.img-left ,.img-middle ,.img-right ,.img-left-layer ,.img-middle-layer ,.img-right-layer {
    width: 100%;
    border: 1px transparent;
    border-radius: 20px;
    height: 240px;
    margin-bottom: 10px;
}
.img-left ,.img-middle ,.img-right {
    background-size: cover;
    background-position: center;
    position: relative;
}
.img-left-layer ,.img-middle-layer ,.img-right-layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-left {
    background-image: url(img/img-1.jpg);
}
.img-middle {
    background-image: url(img/banner-2.jpg);
}
.img-right {
    background-image: url(img/img-3.jpg);
}

/*------ testo delle colonne dell'articolo ------*/
.subtitle {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.left > section, .middle > section, .right > section {
    margin-top: 10px;
}

/*------ crediti al creatore della pagina ------*/
.credits {
    margin-top: 15px;
    text-align: center;
    vertical-align: auto;
    color: black;
    font-size: 22px;
}

#cuore {
    font-size: 40px;
    color: red;
}