/* stile di base della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

body {
    max-width: 1280px;
    margin: auto;
}

/* header */
#logo {
    padding-right: 40px;
    height: 100px;
    border-right: 1px solid rgba(229, 229, 229, 0.8) ;
}

nav {
    padding: 50px 0px 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    padding-right: 5px;
    color: #8A8A8A;
}

/* main */
.banner ,.layer {
    border-radius: 20px;
    border: 1px transparent black;
}

.banner {
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 20px 0px;
    position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.description {
    position: absolute;
    bottom: 15%;
    left: 4%;
}

#description-title, #description-main{
    color: white;    
}

#description-title {
    font-size: 34px;
}


.article {
    background-color: rgb(1, 134, 255);
    height: 600px;
}

.top {
    background-color: rgb(171, 207, 231);
    height: 80px;
}

.columns {
    height: calc(100% - 100px);
    padding-top: 20px;
}

.columns::after {
    content: "";
    display: table;
    clear: both;
}

.left, .middle, .right {
    float: left;
    height: 100%;
    background-color: rgb(171, 207, 231);
}

.left, .right {
    width: 20%;
}

.middle {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

.credits {
    margin-top: 15px;
    height: 70px;
    background-color: rgb(136, 1, 254);
}